body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d2b2ee;
    text-align: center;
}

header {
    background-color: #da8ef4;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
}

.project {
    background: white;
    padding: 20px;
    margin: 10px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
a:hover{
    color: rgb(161, 26, 26);
}